[Unit]
Description=energyReader
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
ExecStart=/home/pi/pi-energy-reader/venv/bin/python3 -u start.py /home/pi/pi-energy-reader_config
WorkingDirectory=/home/pi/pi-energy-reader
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1
User=pi

[Install]
WantedBy=multi-user.target
