[Unit]
Description=EnergyReader
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
ExecStart=/home/pi/piEnergyReader/venv/bin/python3 -u start.py /home/pi/piEnergyReader_config
WorkingDirectory=/home/pi/piEnergyReader
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1
User=pi

[Install]
WantedBy=multi-user.target
